@use "./abstracts/media-query" as *;
@use "./abstracts/mixins" as *;

.app {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	// padding: 1rem;
}

.app-items {
	position: relative;
	// padding: 1rem;
	width: 100%;
	max-width: 100vw;
	// padding: 1rem;
}
.items-box {
	padding: 1rem;
}

.my-grid {
	width: 100%;
	@include grid-layout;
}

.my-card-width {
	padding: 1rem;
	width: 100%;
	max-width: 30rem;
	@include shadow-md;
}

.add-icon {
	position: fixed;
	bottom: 1.5rem;
	right: 1rem;
	border-radius: 50%;
	background-color: #c42d2d;
	display: flex;
	padding: 0.5rem;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 350ms ease;
	&:hover {
		background-color: #e73d3d;
		scale: 1.1;
	}

	.icon {
		font-size: 2.2rem;
		color: #fff;
	}
}

.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.466);
	height: 100vh;
	width: 100vw;
	padding: 1rem;
	display: none;
	opacity: 0;
	transition: all 300ms ease;

	&.active {
		display: flex;
		opacity: 1;
		transition: all 400ms ease;

		.modal-box {
			transform: translateY(0%);
			transition: 400ms 300ms ease;
		}
	}

	.modal-box {
		transform: translateY(-200%);
		transition: 400ms 300ms ease;
	}
}

@include small-screen {
	.app-items {
		// padding: 1rem;
		display: grid;
	}
	.my-grid {
		width: 100%;
		@include grid-layout-sm;
	}
}
@include medium-screen {
	.my-card-width {
		padding: 1rem;
		width: 100%;
		max-width: 35rem !important ;
		@include shadow-md;
	}

	.modal.box {
		width: 35rem !important;
		form {
			width: 100%;
		}
	}
}

@include large-screen {
	.modal-bg {
		// position: relative !important;
	}
	.add-icon {
		padding: 0.7rem;
		right: 2rem;
		.icon {
			font-size: 2.6rem !important;
		}
	}
}

@include huge-screen {
	.add-icon {
		display: none;
	}
	.app-items {
		padding: 2rem;
		display: grid;
		grid-template-columns: 2fr 1fr;

		.my-grid {
			display: grid;
			@include grid-layout;
		}
	}
	.my-card-width {
		max-width: 30rem;
		@include shadow-md;
	}
	.modal-bg {
		background-color: white;
		display: flex !important;
		opacity: 1 !important;
		height: 100% !important;
		width: 100% !important;
		padding: 0.2rem !important;
		position: relative !important;

		.modal-box {
			transform: translateY(0%);
			padding: 3rem 0.4rem !important;
			position: fixed;
			top: 3rem;
		}
	}
}
